* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.caja {
    background-color: whitesmoke;
}

/* ESTILOS DEL ENCABEZADO Y MENU */
.logo {
    filter: drop-shadow(4px 4px 2px rgb(182, 174, 174));
    color: white;
    font-size: 7rem;
    font-weight: bold;
    font-family: 'Qwitcher Grypen', cursive;
    margin: 1rem 0 2rem 0;
}

.encabezado {
    padding: 2rem;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

ul li {
    display: inline-block;
    text-align: center;
    justify-content: space-between;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 5px 10px;
}

.bt-menu {
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    align-items: center;
    color: rgb(111, 107, 107);
    border: 2px solid #e8e5e6b6;
    border-radius: 2rem;
    padding: 0.6rem;
    width: 14rem;
}

.bt-menu:hover {
    background-color: rgb(182, 174, 174);
    color: white;
    transition: background-color .3s, color .3s;
}

.contenedorLista{
    display: grid;
    grid-template-columns: repeat(4, 0fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
}

/* ESTILOS DEL RESTO DEL CODIGO */
main {
    width: 70%;
    margin-left: 13.5rem;
    border-radius: 2rem;
    padding: 3rem;
}

.Titulo-P {
    margin-bottom: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: rgb(182, 174, 174);
}

.products-container {
    display: grid;
    grid-template-columns: repeat(4, 0.7fr);
    gap: 1rem;
}

.img {
    width: 12rem;
    filter: drop-shadow(4px 4px 2px rgb(182, 174, 174));
}

.producto {
    margin-top: -0.5rem;
    background-color: rgb(182, 174, 174);
    width: 12rem;
    height: 7rem;
    border-radius: 0.3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
    color: white;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.30rem;
}

.agregar {
    filter: drop-shadow(4px 4px 2px rgb(182, 174, 174));
    font-family: 'Montserrat', sans-serif;
    color: rgb(111, 107, 107);
    border: 2px solid white;
    border-radius: 1rem;
    margin: 0.5rem;
    padding: 0.25rem;
    cursor: pointer;
}

.agregar:hover {
    background-color: rgb(182, 174, 174);
    color: white;
    transition: background-color .3s, color .3s;
}

.quitar{
        font-size: 0.8rem;
        filter: drop-shadow(4px 4px 2px rgb(182, 174, 174));
        font-family: 'Montserrat', sans-serif;
        color: rgb(111, 107, 107);
        border: 2px solid white;
        border-radius: 1rem;
        margin: 0rem 2rem 0 2rem;
        padding: 0.25rem;
        cursor: pointer; 
}

.quitar:hover {
    background-color: red;
    color: white;
    transition: background-color .3s, color .3s;
}

.precio {
    margin-top: 0.35rem;
}


/* ESTILOS DE JS */

.lupa{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 0.8rem;
    color: #e8e5e6b6;
    border: 2px solid rgb(111, 107, 107);
    border-radius: 2rem;
    padding: 0.7rem;
    width: 15rem;
    margin-bottom: 2rem;
    position: relative;
    justify-content: right;
}

/* ESTILOS DE CARRITO DE COMPRAS */
.carrito-contenedorLista{
    display: flex;
    flex-direction: column;
}

.carrito-product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    background-color: #e8e5e6b6;
    width: 870px;
    height: 200px;
    border-radius: 2rem;

}

.carrito-producto{
    display: flex;
}

.carrito-img{
    max-width: 7rem;
    border-radius: 1rem;
    display: flex;
    margin: 0rem 2rem 0 2rem;
}

.carrito-titulo{
margin: 0rem 2rem 0 2rem;
padding: 1rem;
color: rgb(111, 107, 107);
}

.carrito-precio{
margin: 0rem 2rem 0 2rem;
color: rgb(111, 107, 107);
padding: 1rem;
;
}

.btn{
        font-size: 0.8rem;
        filter: drop-shadow(4px 4px 2px rgb(182, 174, 174));
        font-family: 'Montserrat', sans-serif;
        color: rgb(111, 107, 107);
        border: 2px solid white;
        border-radius: 1rem;
        margin: 3em 2rem 0 2rem;
        padding: 0.5rem;
        cursor: pointer; 
        justify-items: right;
}

.btn:hover {
    background-color: rgb(73, 2, 2);
    color: white;
    transition: background-color .3s, color .3s;
}